.product-cart-warning {
    width: 600px;
    height: 500px;
    margin: 50px auto;
    color: #0A2647;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 500px;
    text-transform: uppercase;
    // background-color: red;
}

.cart {
    width: 1000px;
    min-height: 90vh;
    margin: 50px auto;
    display: flex;
    // border: 1px solid #000;

    .cart-left {
        width: 70%;
        min-height: 100%;
        // background-color: red;

        .cart-container {
            width: 100%;
            min-height: 100%;
            // background-color: chocolate;

            .cart-container-title {
                font-size: 20px;
                font-weight: 700;
                color: #0A2647;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            .cart-product {
                width: 100%;
                height: 180px;
                display: flex;
                justify-content: space-around;
                margin: 10px 0px;
                border-bottom: 1px solid #0A2647;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                // background-color: green;

                .cart-product-left {
                    min-width: 400px;
                    max-width: 500px;
                    display: flex;
                    justify-content: flex-start;
                    // background-color: red;

                    .cart-product-content {
                        width: 120px;
                        min-height: 150px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        align-self: center;
                        // background-color: blue;

                        a {
                            display: flex;
                            justify-content: center;
                            width: 90%;
                            height: 100px;
                        }

                        .card-product-image {
                            width: 90%;
                            height: 100px;
                            object-fit: fill;
                        }

                        .cart-product-clear {
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            display: block;
                            text-align: center;
                            border: 1px solid #0A2647;
                            border-radius: 5px;
                        }
    
                        .cart-product-clear:hover {
                            cursor: pointer;
                        }
                    }
                    
                    .cart-product-title {
                        max-width: 300px;
                        height: 150px;
                        align-self: center;
                        justify-self: center;
                        margin-left: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        // background-color:coral;
                    }
                }

                .cart-product-right {
                    align-self: center;
                    min-width: 150px;
                    height: 100px;
                    text-align: center;
                    line-height: 100px;
                    // background-color: red;
                }
            }
        }
    }

    .cart-right {
        width: 30%;
        max-height: 600px;
        display: flex;
        justify-content: center;
        // background-color: blue;

        .cart-right-conatiner {
            width: 90%;
            height: 300px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            background-color: #fff;

            .cart-right-top {
                width: 80%;
                height: 200px;
                border-bottom: 1px solid #0A2647;
                display: flex;
                flex-direction: column;
                align-items: center;
                // background-color: red;

                .cart-right-top-title {
                    color: #0A2647;
                    font-weight: 700;
                    font-size: 20px;
                }

                p {
                    margin-top: 10px;
                }
            }

            .cart-right-bot {
                width: 100%;
                height: 100px;
                text-align: center;
                // background-color: blue;

                p {
                    margin-top: 20px;
                }
            }
        }
    }
}